*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    text-decoration: none;
    color: gray;
    font-size: 25px;
}

ul li a::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    left: -10px;
    overflow: hidden;
    color: var(--clr);
    border-right: 8px solid var(--clr);
    transition: all 250ms ease-in;
}

ul li a:hover::before{
    width: 100%;
    left: 0;
    filter: drop-shadow(16px 16px 20px var(--clr));
}